<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>EZe Innovations</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->  

   <!-- Script
   =================================================== -->
   <script src="assets/modernizr.js"></script>

   <!-- Favicons
	=================================================== -->
	<!--<link rel="shortcut icon" href="favicon.png" >-->


   
</head>

<body class="homepage">

   <div id="preloader"> 
	   <div id="status">
         <img src="assets/loader.gif" height="60" width="60" alt="">
         <div class="loader">Loading...</div>
      </div>
   </div>
   

   <!-- Header
   =================================================== -->
   <header id="main-header">

   	<div class="row header-inner">

	      <div class="logo">
	         <a class="smoothscroll" href="#hero">EZe Innovations.</a>
	      </div>

	      <nav id="nav-wrap">         
	         
	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class='menu-text'>Show Menu</span>
	         	<span class="menu-icon"></span>
	         </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class='menu-text'>Hide Menu</span>
         		<span class="menu-icon"></span>
         	</a>         

	         <ul id="nav" class="nav">
	            <li class="current"><a class="smoothscroll" href="#hero">Home.</a></li>
                <li><a class="smoothscroll" href="#about">About.</a></li>
	            <li><a class="smoothscroll" href="#journal">Services.</a></li>
	            <li><a class="smoothscroll" href="#journal">Join Us.</a></li>	            
	            <li><a class="smoothscroll" href="#contact">Contact.</a></li>
	         </ul> 

	      </nav> <!-- /nav-wrap -->	      

	   </div> <!-- /header-inner -->

   </header> 


   <!-- Hero
   =================================================== -->
   <section id="hero">	
   	  
		<div class="row hero-content">

			<div class="twelve columns flex-container">

			   <div id="hero-slider" class="flexslider">

				   <ul class="slides">

					   <!-- Slide -->
					   <li>
						   <div class="flex-caption">
								<h1>Your Idea, Our Backup. Welcome to EZe Innovations.</h1>	
								<p><a class="button stroke smoothscroll" href="#about">Get Started</a></p>																   
							</div>						
					   </li>

					   <!-- Slide -->
					   <li>						
							<div class="flex-caption">
								<h1 >Taking Engineering To Zenith.</h1>	
								<p><a class="button stroke smoothscroll" href="#journal">See Our Services</a></p>									   
							</div>					
					   </li>

					   <!-- Slide -->
					   <li>
						   <div class="flex-caption">
                               <h1 >Evoke the innovator in you. Contact soon!</h1>
								<p><a class="button stroke smoothscroll" href="#contact">Get In Touch</a></p>										   
							</div>
					   </li>					              

				   </ul>

			   </div> <!-- .flexslider -->				   

	      </div> <!-- .flex-container -->      

		</div> <!-- .hero-content -->	   

   </section> <!-- #hero -->

   <!-- About Section
   ================================================== -->
   <section id="about">
<br>
   	<div class="row section-head">

   		<div class="twelve columns">

	         <h1>About Us<span>.</span></h1>

	         <hr />

	         <p>EZe Innovations is a Product Innovation Firm which aims at nurturing innovators in India Through our specialized training and mentoring. We endeavour to create a platform for Innovative Minds to transform their Ideas into reality by providing all the resources required for a successful buildup.
Come, Innovate with us and let us Engineer to Zenith. 
<br>
</p>
<p>
We have preferred Human relations and values over and above profits and revenue and this distinguishes EZe Innovations from others. Your satisfaction is very important for us as that will be the measuring scale for our achievements.</p>
<br>
	      </div>

      </div>
<br>
<br>
<br>
<br>
<br>
<br>
    </section>
      
      
   <!-- journal
   =================================================== -->
<!--<section id="journal">
    <div class="row">
	   <div class="row section-head">
	   	<div class="twelve columns">
			 <article class="bgrid">
						<h1>For Corporates<span>.</span></h1>
                   <hr />
	               <h5>Product Design Consulatancy</h5>
	               <p>We believe that perfection hides just below the surface,
We Just seek it out. We provide Product Design Consultancy service to meet the market needs for your product. 
	               </p>
            </article>
            
            <article class="bgrid">
                <center>
	                <h3><%= link_to "Read more", products_path, class: "button primary" %></h3>
                </center>
	            </article>
            
            <article class="bgrid">
	               <h5>EZe Projects</h5>
	                           
	               <p>We create new to make living better and comfortable. EZe is committed to Innovate and bring its products for market.</p>
	                        
	            </article>
		    </div>
    </div>
	   </div>
    <hr /><hr />
       <div class="row">
<div class="row section-head">
       
     	<div class="twelve columns">

       		   <article class="bgrid">
						
						<h1>For Students<span>.</span></h1>
                   <hr />
	               <h5>Inventor's Den</h5>
	                           
	               <p>Inventor’s Den is our organization’s vertical which allows innovative seeds to transform their ideas into reality. We believe in simple but effective innovations which doesn’t suck. It’s not enough to have couple of snazzy design, it should have amazing stuff, quick and reliable on global scale.</p> 
            </article>
            
            <article class="bgrid">
                <center>
	               <h3><%= link_to "Read more", inventors_path, class: "button primary" %></h3>
                </center>
	            </article>
            
            <article class="bgrid">      
	               <h5>EZe Learn</h5>
	               <p>Innovative minds need a seed to grow. We implant that seed of knowledge in creative minds.
Providing utility Workshops in schools and colleges for development of their interest and excel with their ideas. </p>
	                        
	            </article>
		    </div>
           </div>
	   </div> 
            <article class="bgrid">
						
						<h5>September 2, 2014</h5>
	               <h3><a href="single.html">Sed ut perspiciatis unde omnis iste natus</a></h3>
	                           
	               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
	               isi elit consequat ipsum, nec sagittis sem nibh id elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
	               </p>
	                        
	            </article>

	            <article class="bgrid">
						
						<h5></h5>
	               <h3><a href="single.html"></a></h3>
	                           
	               <p> 
	            	</p>
	                        
	            </article>

	            <article class="bgrid">
						
						<h5>August 28, 2014</h5>	
	               <h3><a href="single.html">Ut enim ad minim veniam quis nostrud</a></h3>
	                           
	               <p>
	               Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
	               isi elit consequat ipsum, nec sagittis sem nibh id elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium. 
	            	</p>
	                        
	            </article>

	            <article class="bgrid first">
						
						<h5>August 27, 2014</h5>
	               <h3><a href="single.html">Sed ut perspiciatis unde omnis iste natus</a></h3>
	                           
	               <p>
	               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	               consequat.
	            	</p>
	                        
	            </article>

	            <article class="bgrid">
						
						<h5></h5>
	               <h3><a href="single.html"></a></h3>
	                           
	               <p> 
	            	</p>
	                        
	            </article>

	            <article class="bgrid">
						
						<h5>August 23, 2014</h5>
	               <h3><a href="single.html">Sed ut perspiciatis unde omnis iste natus</a></h3>
	                           
	               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cumque, aut nam at, 
	               doloremque repellat blanditiis quo accusantium, rerum dignissimos alias eligendi, laudantium quod. 
	               Autem nihil explicabo ipsa magnam porro.
	            	</p>
	                        
	            </article> 
            
            
    <center>
      <div class="row">
        <center>
      	<div class="twelve columns">
        <center>
	         <div id="blog-wrapper" class="bgrid-third s-bgrid-half mob-bgrid-whole group">
                  <center>
	            <article class="bgrid">
                <center>
						<h5>Student Ambassador Program</h5>
	               <h3><%= link_to "Apply here", ambassadors_path, class: "button primary"  %></h3>
                </center>
	            </article>
                </center>
                  <center>
	            <br>
                <br>
                  </center>
                  <center>
	            <article class="bgrid">
                <center>
						<h5>Student Internship Program</h5>
	                   <h3><%= link_to "Apply here", interns_path, class: "button primary"  %></h3>
                </center>
	            </article>
                 </center>
	         </div> 
            </center>
	      </div> 
            </center>
      </div>
    </center>
           </div>
        </div>
    </div>
   </section>
-->
    
    <section id="journal">

      <div class="row">

      	<div class="twelve columns">

	         <div id="blog-wrapper" class="bgrid-third s-bgrid-half mob-bgrid-whole group">

	            <article class="bgrid">
                <div class="row section-head">
	   	       <div class="twelve columns">
			   <h1>FOR CORPORATES<span>.</span></h1>
			   <hr />	         
                </div>
	           </div>
						
						<h5>PRODUCT DESIGN CONSULATANCY</h5>
	               <h3>We believe that perfection hides just below the surface, We Just seek it out. We provide Product Design Consultancy service to meet the market needs for your product.</h3>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
	                <p><%= link_to "Read more", products_path, class: "button primary" %></p>
	            </article>

	            <article class="bgrid">
						
						<h5></h5>
	               <h3><a href="single.html"></a></h3>
	                           
	               <p> 
	            	</p>   
	            </article>

	            <article class="bgrid">
                <div class="row section-head">

	   	       <div class="twelve columns">
			   <h1>FOR STUDENTS<span>.</span></h1>
			   <hr />	         
		      </div>

	           </div>
						
						<h5>INVENTOR'S DEN</h5>	
	               <h3>Inventor’s Den is our organization’s vertical which allows innovative seeds to transform their ideas into reality. We believe in simple but effective innovations which doesn’t suck. It’s not enough to have couple of snazzy design, it should have amazing stuff, quick and reliable on global scale.</h3>
	                           
	               <p>
	               <%= link_to "Read more", inventors_path, class: "button primary" %>
	            	</p>
	                        
	            </article>

	            <article class="bgrid first">
						
						<h5>EZE PROJECTS</h5>
	               <h3>We create new to make living better and comfortable. EZe is committed to Innovate and bring its products for market.</h3>
                    <br>
                     <br>
                    <br>
                     <br>
                    <br>
	                    <hr />    
	            </article>

	            <article class="bgrid">
						
						<h5></h5>
	               <h3><a href="single.html"></a></h3>
	                           
	               <p> 
	            	</p>
	                        
	            </article>

	            <article class="bgrid">
						
						<h5>EZE LEARN</h5>
	               <h3>Innovative minds need a seed to grow. We implant that seed of knowledge in creative minds. Providing utility Workshops in schools and colleges for development of their interest and excel with their ideas.</h3>
                    <hr />
	            </article>
                 
                 
                <article class="bgrid">
                <div class="row section-head">
	   	       <div class="twelve columns">
			   <h1>Student Ambassador Program<span>.</span></h1>
			   <hr />	         
                </div>
	           </div>
                            <center>
	                <p><%= link_to "Apply here", ambassadors_path, class: "button primary"  %></p>
                                 </center> 
	            </article>
	            <article class="bgrid">
						
						<h5></h5>
	               <h3><a href="single.html"></a></h3>
	                           
	               <p> 
	            	</p>   
	            </article>

	            <article class="bgrid">
                <div class="row section-head">

	   	       <div class="twelve columns">
			   <h1>Student Internship Program<span>.</span></h1>
			   <hr />	         
		      </div>

	           </div> 
                    <center>
	               <p>
	               <%= link_to "Apply here", interns_path, class: "button primary"  %>
	            	</p>
	                 </center>       
	            </article>

	         </div> <!-- /blog-wrapper -->

	      </div> <!-- /twelve -->

      </div> <!-- /row -->

   </section> <!-- /blog -->
   
   <!-- Contact Section
   ================================================== -->
   <section id="contact">

   	<div class="row section-head">

   		<div class="twelve columns">

	         <h1>Get In Touch<span>.</span></h1>

	         <hr />

            <p>For any queries,contact us on</p> 
            <p>1. Tushar Gulati: +91-7838119583</p>
            <p>2. Rohit Gupta: +91-9711386797</p>
            <p>email- contact@ezeinnovations.in
            <p>Or simply write to us!</p>

	      </div>

      </div>
    
        
       
  <%= form_for(:land, :url => {:action => "create"}, :html => {:multipart => true}) do |f| %>
            <%= f.text_field :firstname, placeholder: "First Name" %> <br />
            <%= f.text_field :lastname, placeholder: "Last Name" %> <br />
            <%= f.email_field :email, placeholder: "Email" %> <br />
            <%= f.text_field :subject, placeholder: "Subject" %><br />
            <%= f.text_area :message, placeholder: "Message" %> <br />
	    <input type="submit" value="Send">
	 <% end %>
      <!-- /form-section -->     
       
   </section>  <!-- /contact-->
     <!-- Footer
   ================================================== -->
     <footer> 
         
      <div class="row">   
           
        <div class="six columns tab-whole right-cols">

            <div class="row">
                
               <div class="columns last">
                   
                   <h3 class="contact">Follow Us</h3>
                  <ul>
                     <li><a href="https://www.facebook.com/ezeinnovations95/?fref=ts">Facebook</a></li>
                     <li><a href="https://www.linkedin.com/company/7165863?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A7165863%2Cidx%3A1-1-1%2CtarId%3A1451728030217%2Ctas%3Aeze%20inn ">LinkedIn</a></li>
                   </ul>
               </div> <!-- /columns --> 
            </div> <!-- /Row(nested) -->
          </div>
         
         <p class="copyright">&copy; Copyright 2016 EZe Innovations. Developed by <a href="https://www.facebook.com/shivin.agarwal.12">Shivin Agarwal.</a></p>
          
         <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero"><span>Top</span><i class="fa fa-long-arrow-up"></i></a>
         </div>
      </div> <!-- /row -->
   </footer> <!-- /footer -->
   
   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="/assets/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="/assets/jquery-migrate-1.2.1.min.js"></script>   
 <!--  <script src="assets/jquery.flexslider.js"></script> -->
   <script src="assets/jquery.fittext.js"></script>
   <script src="assets/backstretch.js"></script> 
   <script src="assets/waypoints.js"></script>  
   <script src="assets/main.js"></script>

</body>

</html>