<p> Hi, Tushar Gulati</p>
<p> Some one has conatcted you for internship program here are the following details:</p>
<p><%=@email%></p>
<p><%=@name%></p>
<p><%= @college%></p>
<p><%=@course%></p>
<p><%=@year%></p>
<p><%=@number%></p>
<p><%=@field%></p>
