<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Blog - Puremedia</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
          

   <!-- Script
   =================================================== -->
	 <script src="assets/modernizr.js"></script> 

   <!-- Favicons
	=================================================== -->

</head>

<body>

   <!-- Header
   =================================================== -->
   <header id="main-header">

   	<div class="row header-inner">

	      <div class="logo">
	           <a class="smoothscroll" href="#hero">EZe Innovations.</a>
	      </div>

	      <nav id="nav-wrap">         
	         
	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class='menu-text'>Show Menu</span>
	         	<span class="menu-icon"></span>
	         </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class='menu-text'>Hide Menu</span>
         		<span class="menu-icon"></span>
         	</a>         

	         <ul id="nav" class="nav">
                 <li class="current"><a href="#page-title">Inventor's Den.</a></li>
	         </ul> 

	      </nav> <!-- /nav-wrap -->	      

	   </div> <!-- /header-inner -->

   </header>


   <!-- Page Title
   ================================================== -->
   <section id="page-title">	
   	  
		<div class="row">

			<div class="twelve columns">

				<h1>Inventor's Den<span>.</span></h1>

			</div>			    

		</div> <!-- /row -->	   

   </section> <!-- /page-title -->


   <!-- Content
   ================================================== -->
   <section id="content">    
   </section> <!-- /content -->
    
    
   <section id="idea">
            <div class="row">

      	<div class="twelve columns">

	      	<div class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">
    <div class="bgrid">

	              	<div class="icon-part">
	               	<i class="icon-bulb"></i>
	               </div>
    </div>
    </div>
    </div>
    </div>
   	<div class="row">

	   	<div id="main" class="tab-whole eight columns">

	         <article class="entry">

					<header class="entry-header">

						<h1 class="entry-title">
				1. Your Idea
						</h1> 				 
						
						<div class="entry-meta">
							<ul>
								<li>1st step</li>
								<span class="meta-sep">•</span>								
								<li><a rel="category tag" title="" href="#idea">Of success</a></li>
								<span class="meta-sep">•</span>
								<li>Inventor's den</li>
							</ul>
						</div> 
						 
					</header> 
						
					<div class="entry-content">
						<p class="lead">We know the value  of your dream idea. Contact Us with your idea from our website or get in touch with us. Pitch us the Idea.</p>
					</div> 

					<p class="tags">
	  			     	<span>Next 4:</span>
	  				  	<a href="#selection">Selection</a>, <a href="#prototype">Prototyping</a>, <a href="#market">Marketing</a>, <a href="#share">Equity Share</a>
	  			   </p>

				</article>
            <!-- /entry -->
 <!-- respond -->
            <!--
				<div id="comments">
	           
	            <div class="respond">

	               <h3>Leave a Comment</h3>
-->
	               <!-- form -->
            <!--
	               <form action="" method="post" id="contactForm" name="contactForm">
	  					<fieldset>

	                  <div class="group">
	  						   <label for="cName">Name <span class="required">*</span></label>
	  						   <input type="text" value="" size="35" id="cName" name="cName">
	                  </div>

	                  <div class="group">
	  						   <label for="cEmail">Email <span class="required">*</span></label>
	  						   <input type="text" value="" size="35" id="cEmail" name="cEmail">
	                  </div>

	                  <div class="group">
	  						   <label for="cWebsite">Website</label>
	  						   <input type="text" value="" size="35" id="cWebsite" name="cWebsite">
	                  </div>

	                  <div class="message group">
	                     <label for="cMessage">Message <span class="required">*</span></label>
	                     <textarea cols="50" rows="10" id="cMessage" name="cMessage"></textarea>
	                  </div>

	                  <button class="stroke medium" type="submit">Submit</button>

	  					</fieldset>
	  				   </form>

	            </div> 

     	</div>	-->					   
	         <!-- /respond -->
        <!-- /comments -->	
	   	</div> <!-- /main -->  

	    <!--  <div class="tab-whole four columns end" id="secondary">
				
				<aside id="sidebar"> -->

	           <!-- <div class="widget widget_categories">
	               <h5 class="widget-title">Categories</h5>
	               <ul class="link-list group">
	               	<li><a href="#">All</a></li>
	                  <li><a href="#">Your Idea</a></li>
	                  <li><a href="#">Selection</a></li>
	                  <li><a href="#">Prototyping</a></li>
	                  <li><a href="#">Marketing</a></li>
	                  <li><a href="#">Equity Share</a></li>
	               </ul>
	            </div>--> 
	        <!--    <div class="widget widget_tag_cloud group">
	               <h5 class="widget-title">Our 5 steps</h5>
	               <div class="tagcloud group">
	                  <a href="#idea">1. Your Idea</a>
	                  <a href="#selection">2. Selection</a>
	                  <a href="#prototype">3. Prototyping</a>
	                  <a href="#market">4. Marketing</a>
	                  <a href="#share">5. Equity Share</a>
	               </div>

	            </div> --> <!-- /widget_tag_cloud -->

	  <!--       </aside>            

	      </div> -->

	   </div> <!-- /row -->      

   </section> <!-- /content -->

         <div class="row">

      	<div class="twelve columns">

	      	<div class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">
    <div class="bgrid">

	              	<div class="icon-part">
	               	<i class="icon-arrow-down"></i>
	               </div>
    </div>
    </div>
    </div>
    </div>
  
    

     <section id="selection">
         
    <div class="row">
    <div class="twelve columns">
    <div class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">
    <div class="bgrid">
	        <div class="icon-part">
        	<i class="icon-magnifier"></i>
            </div>
    </div>
    </div>
    </div>
     </div>

   	<div class="row">

	   	<div id="main" class="tab-whole eight columns">

	         <article class="entry">
                 
            <!--     <div class="entry-content-media">
						<div class="post-thumb">
							<img src="assets/cad.jpeg">
						</div> 
					</div>-->

					<header class="entry-header">
						<h1 class="entry-title">
							2. Selection
						</h1> 				 
						
						<div class="entry-meta">
							<ul>
								<li>2nd step</li>
								<span class="meta-sep">•</span>								
								<li><a rel="category tag" title="" href="#selection">Of success</a></li>
								<span class="meta-sep">•</span>
								<li>Inventor's den</li>
							</ul>
						</div>
            
					</header> 
						
					<div class="entry-content">
						<p class="lead">Experts from the industry will select your idea on the basis of feasibility and market demand of the idea.</p>
					</div> 

					<p class="tags">
	  			     	<span>Next 3:</span>
	  				  	<a href="#prototype">Prototyping</a>, <a href="#market">Marketing</a>, <a href="#share">Equity Share</a>
	  			   </p>
				</article>
	   </div> <!-- /row -->      

   </section>
         
              <div class="row">

      	<div class="twelve columns">

	      	<div class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">
    <div class="bgrid">

	              	<div class="icon-part">
	               	<i class="icon-arrow-down"></i>
	               </div>
    </div>
    </div>
    </div>
    </div>
    
     <section id="prototype">
         
    <div class="row">
    <div class="twelve columns">
    <div class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">
    <div class="bgrid">
	        <div class="icon-part">
        	<i class="icon-refresh"></i>
            </div>
    </div>
    </div>
    </div>
     </div>
   	<div class="row">

	   	<div id="main" class="tab-whole eight columns">

	         <article class="entry">
                 
           <!--      <div class="entry-content-media">
						<div class="post-thumb">
							<img src="assets/cad.jpeg">
						</div> 
					</div> -->

					<header class="entry-header">

						<h1 class="entry-title">
							3. Prototype
						</h1> 				 
						
					<div class="entry-meta">
							<ul>
								<li>3rd step</li>
								<span class="meta-sep">•</span>								
								<li><a rel="category tag" title="" href="#prototype">Of success</a></li>
								<span class="meta-sep">•</span>
								<li>Inventor's den</li>
							</ul>
						</div> 
						 
					</header> 
						
					<div class="entry-content">
						<p class="lead">Get all the resources to make your dream come true. Work with the best people here for your idea and make the prototype. Leave rest on us.</p>
					</div> 

					<p class="tags">
	  			     	<span>Next 2:</span>
	  				     <a href="#market">Marketing</a>, <a href="#share">Equity Share</a>
	  			   </p>

				</article>

	   </div> <!-- /row -->      

   </section>  
         
              <div class="row">

      	<div class="twelve columns">

	      	<div class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">
    <div class="bgrid">

	              	<div class="icon-part">
	               	<i class="icon-arrow-down"></i>
	               </div>
    </div>
    </div>
    </div>
    </div>
    
     <section id="market">
         
          <div class="row">
    <div class="twelve columns">
    <div class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">
    <div class="bgrid">
	        <div class="icon-part">
        	<i class="icon-graph"></i>
            </div>
    </div>
    </div>
    </div>
     </div>

   	<div class="row">

	   	<div id="main" class="tab-whole eight columns">

	         <article class="entry">
                 
          <!--       <div class="entry-content-media">
						<div class="post-thumb">
							<img src="assets/cad.jpeg">
						</div> 
					</div> -->

					<header class="entry-header">

						<h1 class="entry-title">
							4. Market
						</h1> 	
                        
					<div class="entry-meta">
							<ul>
								<li>4th step</li>
								<span class="meta-sep">•</span>								
								<li><a rel="category tag" title="" href="#market">Of success</a></li>
								<span class="meta-sep">•</span>
								<li>Inventor's den</li>
							</ul>
						</div> 
						 
					</header> 
						
					<div class="entry-content">
						<p class="lead">We get you the best possible results for your input. EZe will publicize your idea and market it. We create a bridge between your idea and target market..</p>
					</div> 

					<p class="tags">
	  			     	<span>Last</span>
	  				  	<a href="#share">Equity Share</a>
	  			   </p>
            </article>

	   </div> <!-- /row -->      

   </section>
         
              <div class="row">

      	<div class="twelve columns">

	      	<div class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">
    <div class="bgrid">

	              	<div class="icon-part">
	               	<i class="icon-arrow-down"></i>
	               </div>
    </div>
    </div>
    </div>
    </div>
    
     <section id="share">
         
             <div class="row">
    <div class="twelve columns">
    <div class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">
    <div class="bgrid">
	        <div class="icon-part">
        	<i class="icon-credit-card"></i>
            </div>
    </div>
    </div>
    </div>
     </div>

   	<div class="row">

	   	<div id="main" class="tab-whole eight columns">

	         <article class="entry">
                 
        <!--         <div class="entry-content-media">
						<div class="post-thumb">
							<img src="assets/cad.jpeg">
						</div> 
					</div> -->

					<header class="entry-header">

						<h1 class="entry-title">
							5. Equity share
						</h1> 				 
						
					<div class="entry-meta">
							<ul>
								<li>Last step</li>
								<span class="meta-sep">•</span>								
								<li><a rel="category tag" title="" href="#share">Of success</a></li>
								<span class="meta-sep">•</span>
								<li>Inventor's den</li>
							</ul>
						</div>
						 
					</header> 
						
					<div class="entry-content">
						<p class="lead">Profit is shared between you and EZe on the basis of your input and idea. Don’t worry, EZe always prefers human values over profit.</p>
					</div> 
				</article>
	   	</div> <!-- /main -->  

	   </div> <!-- /row -->      

   </section>
         
    <!--     <section id="journal">
             <div class="row">
                 <div class="twelve columns">
                      <div id="blog-wrapper" class="bgrid-third s-bgrid-half mob-bgrid-whole group">
                          <article class="bgrid">
                              <h5>Student Ambassador Program</h5>
                               <h3><%= link_to "Apply here", root_path, class: "button primary"  %></h3>
                          </article>
                     </div>
                 </div>
             </div>
         </section> -->
         
    <div class="row">
    <div class="twelve columns">
    <div class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">
    <div class="bgrid">

	               <div class="icon-part">
	               	<i class="icon-trophy"></i>
                    </div> 
    </div>
    </div>
    </div>
    </div>
         
         
<section id="contact"> 
    <div class="row section-head">

   		<div class="twelve columns">

	         <h1>JOIN INVENTOR'S DEN<span>.</span></h1>

	         <hr />

	         <p>It's All About Inventors</p>

	      </div>

      </div>
<div class="row form-section">
      	
      	<div id="contact-form" class="twelve columns">

            <form name="contactForm" id="contactForm" method="post" action="">

      			<fieldset>

                  <div class="row">
                    
                <div class="six columns mob-whole">   
                    <%= form_for(:inventor, :url => {:action => "create"}, :html => {:multipart => true}) do |f| %>
            <%= f.text_field :name, class:"six columns mob-whole", placeholder: "Name" %> <br />
            <%= f.text_field :organisation, class:"six columns mob-whole", placeholder: "Organisation" %> <br />
            <%= f.email_field :email, class:"six columns mob-whole", placeholder: "Email" %><br />
            <%= f.text_field :number, class:"six columns mob-whole", placeholder: "Number" %> <br />
                    <%= f.text_area :intro, class:"six columns mob-whole", placeholder: "Introduction to your idea" %> <br />
	    <input type="submit" value="Send">
	 <% end %>
      <!-- /form-section -->   
                      </div>
                    </div>
                </fieldset>
            </form>
    </div>
    </div>
    
</section>
         
         
          <!-- Footer
   ================================================== -->
   <footer> 
         
      <div class="row">   
           
        <div class="six columns tab-whole right-cols">

            <div class="row">
                
               <div class="columns last">
                   
                   <h3 class="contact">Follow Us</h3>
                  <ul>
                     <li><a href="https://www.facebook.com/ezeinnovations95/?fref=ts">Facebook</a></li>
                     <li><a href="https://www.linkedin.com/company/7165863?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A7165863%2Cidx%3A1-1-1%2CtarId%3A1451728030217%2Ctas%3Aeze%20inn ">LinkedIn</a></li>
                   </ul>
               </div> <!-- /columns --> 
            </div> <!-- /Row(nested) -->
          </div>
         
         <p class="copyright">&copy; Copyright 2016 EZe Innovations. Developed by <a href="https://www.facebook.com/shivin.agarwal.12">Shivin Agarwal.</a></p>
          
         <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero"><span>Top</span><i class="fa fa-long-arrow-up"></i></a>
         </div>
      </div> <!-- /row -->
   </footer> <!-- /footer -->
    

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="/assets/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="/assets/jquery-migrate-1.2.1.min.js"></script>   
   <script src="assets/jquery.fittext.js"></script>
   <script src="assets/backstretch.js"></script> 
   <script src="assets/waypoints.js"></script>  
   <script src="assets/main.js"></script>
</body>

</html>