  <header id="main-header">

   	<div class="row header-inner">

	      <div class="logo">
	         <a class="smoothscroll" href="#hero">Eze Innovations.</a>
	      </div>

	      <nav id="nav-wrap">         
	         
	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class='menu-text'>Show Menu</span>
	         	<span class="menu-icon"></span>
	         </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class='menu-text'>Hide Menu</span>
         		<span class="menu-icon"></span>
         	</a>         

	         <ul id="nav" class="nav">	            
	            <li><a class="smoothscroll" href="#contact">Internship.</a></li>
	         </ul> 

	      </nav> <!-- /nav-wrap -->	      

	   </div> <!-- /header-inner -->

   </header>
<section id="contact">
    <div class="row section-head">

   		<div class="twelve columns">

	         <h1>Eze Brings you with internship programs<span>.</span></h1>

	         <hr />

	         <p>Give us your details us!</p>

	      </div>

      </div>
    <div class="row form-section">
      	
      	<div id="contact-form" class="twelve columns">

            <form name="contactForm" id="contactForm" method="post" action="">

      			<fieldset>

                  <div class="row">
                    
                <div class="six columns mob-whole">

<%= form_for(:intern, :url => {:action => "create"}, :html => {:multipart => true}) do |f| %>
            <%= f.text_field :name, class:"six columns mob-whole", placeholder: "Name" %> <br />
            <%= f.text_field :college, class:"six columns mob-whole", placeholder: "College" %> <br />
            <%= f.text_field :course, class:"six columns mob-whole", placeholder: "Course" %> <br />
            <%= f.text_field :email, class:"six columns mob-whole", placeholder: "Email" %><br />
            <%= f.text_area :year, class:"six columns mob-whole", placeholder: "Year" %> <br />
            <%= f.text_area :number, class:"six columns mob-whole", placeholder: "Number" %> <br />
            <%= f.text_area :field, class:"six columns mob-whole", placeholder: "Field Of Interest" %> <br />
	    <input type="submit" value="Send">
	 <% end %>
      <!-- /form-section -->   
                      </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>

<footer>
    <p><%= link_to "Go back", root_path %></p>  
    <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero"><span>Top</span><i class="fa fa-long-arrow-up"></i></a>
         </div>
     <p class="copyright">&copy; Copyright 2016 Eze Innovations. Design by <a href="http://www.facebook.com/ShivinAgarwal">Shivin Agarwal.</a></p>
</footer>
   