<p> Hi, Tushar Gulati</p>
<p> Some one has conatcted you for inventor's den program here are the following details:</p>
<p><%=@email%></p>
<p><%=@name%></p>
<p><%= @organisation%></p>
<p><%=@number%></p>
<p><%=@intro%></p>
